@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");


.home-background {
  background-image: url("http://localhost:5173/src/assets/home-banner.png");
  background-position: top center;
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.home-logo {
  padding-top: 20px;
}

.sari-yazi {
  color: #fdc913;
  font-family: Satisfy;
  font-size: 32px;
  margin-top: 30px;
}

.home-content {
  padding-top: 20px;
}

.home-text1 {
  display: flex;
  justify-content: center;
  font-family: Roboto Condensed;
  font-size: 86px;
  color: #ffffff;
  font-weight: 250;
  margin-top: -60px;
  text-align: center;
  line-height: 92px;
  margin-bottom: 10px;
}

.home-button {
  padding: 0.8em 3rem;
  background-color: #ffc107;
  color: #292929;
  border-radius: 30px;
  font-size: 16px;
  line-height: 35px;
}

/* İKONLAR */
.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
 
  width: 100%;
}

/* İkon kutusu stili */
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* İkon stili */
.icon {
  max-width: 100%;
  margin-bottom: 5px;
  margin-right: 0.2rem;
}

/* İkon ismi stili */
.icon-name {
  margin-right: 1rem;
  font-size: 1em;
  color: #292929;
  line-height: 32.4px;
  font-size: 16px;
}

/* Reklam Bölümü */


